{# src/SAGITERRE/CoreBundle/Resources/views/core/about.html.twig #}

{% extends "SAGITERRECoreBundle::layout.html.twig" %}

{% block title %}
    A propos
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ asset('css/grid.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/contact-form.css') }}">
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-migrate-1.2.1.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/TMForm.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% if is_granted('ROLE_USER') %}
        <script src="{{ asset('bundles/admin/js/script.js') }}"></script>
    {% endif %}

{% endblock %}


{% block body %}
     <div class="header-parall" data-stellar-background-ratio="0.8">
        </div>
        <div class="bg-secondary1">
            <div class="container">
                <div class="row">
                    <div class="grid_12 wow fadeInUp mrg0" data-wow-delay="0.2s">
                        <div class="wow well_cont2 fadeInUp" data-wow-delay="0.2s">
                            <div class="grid_1 mrg0">
                                <img src="{{ asset('images/page-2_ico-1.png') }}" alt="ico">
                            </div><!--/grid-->
                            <h3 class='left h-icon'>A propos</h3>
                            <p class='p2-sl-cont left'>Morbi et semper arcu, etiam volut</p>
                        </div><!--/grid-->

                        <div class="grid_4 hidd">
                            <img class="c-block-pic1" src="{{ asset('images/propos/Untitled 8.jpg') }}" alt="pic">
                        </div><!--/grid-->
                        <div class="grid_8 mrg0">
                            <p class='left p2-c-block-h padd-left'>Curabitur ornare volutpat sollicitudin. Nunc elementum quis dui sit amet pharetra. Vivamus <br>
                                hendrerit, tempor nulla non, volutpat felis. Fusce cursus fermentum pretium. </p>
                            <p class='left c-block-dis2 padd-left'>Curabitur ornare volutpat sollicitudin. Nunc elementum quis dui sit amet pharetra. Vivamus id luctus ex, id tristique purus. Curabitur suscipit malesuada mollis. Morbi viverra maximus sodales. Nulla luctus, ipsum eu consectetur maximus, enim mi rhoncus nisi, non dictum neque nulla id neque. Nam bibendum molestie eleifend. Maecenas porttitor Praesent fermentum sapien sit amet sollicitudin facilisis. Nullam sed felis pulvinar, eleifend diam ac, viverra turpis.
                                etiam cursus justo sit amet tortor cursus feugiat. </p>
                            <a class="p2-c-block-a padd-left" href="#">More</a>
                        </div><!--/grid-->

                    </div><!--/grid-->
                </div>
            </div>
        </div>

        <!-- stellar layout -->
        <div class="bg-secondary2">
            <div class="container">
                <div class="row">
                    <div class="grid_12 wow fadeInUp well_cont1" data-wow-delay="0.2s">

                        <div class="grid_1 mrg0">
                            <img src="{{ asset('images/page-2_ico-2.png') }}" alt="ico">
                        </div><!--/grid-->
                        <h3 class='left h-icon'>Notre Equipe</h3>
                        <p class='p2-sl-cont left'>sous-titre</p>
                        <div class="cont-block">
                            <div class="grid_3 mrg0 hidd">
                                <a href="#"><img class="c-block-pic" src="{{ asset('images/equipe/antoinette.jpg') }}" alt="pic"></a>
                                <p class='left p2-c-block-h2'>Antoinette Goubau</p>
                                <p class='left p2-c-block-cont'>Venenatis bibendum, magna lectu
                                    fermentum lacus, vel accumsan. </p>
                            </div><!--/grid-->
                        </div>

                        <div class="cont-block">
                            <div class="grid_3 mrg0 hidd">
                                <a href="#"><img class="c-block-pic" src="{{ asset('images/equipe/marguerite.jpg') }}" alt="pic"></a>
                                <p class='left p2-c-block-h2'>Marguerite de Limbourg</p>
                                <p class='left p2-c-block-cont'>Diam tellus eu velit. Donec lobortis lacinia nisl quis scelerisque. </p>
                            </div>
                        </div><!--/grid-->

                        <!--<div class="cont-block">
                            <div class="grid_3 mrg0 hidd">
                                <a href="#"><img class="c-block-pic" src="images/page-2_img04.jpg" alt="pic"></a>
                                <p class='left p2-c-block-h2'>John Anderson</p>
                                <p class='left p2-c-block-cont'>Proin convallis dolor diam. Fusce efficitur egestas diam, aliquet. </p>
                            </div>
                        </div>

                        <div class="cont-block mrgn-r-0">
                            <div class="grid_3 mrg0 hidd">
                                <a href="#"><img class="c-block-pic" src="images/page-2_img05.jpg" alt="pic"></a>
                                <p class='left p2-c-block-h2'>Jessica Priston</p>
                                <p class='left p2-c-block-cont'>Fusce efficitur egestas diam, aliqu
                                et elementum sapien mollis ac. </p>
                            </div>
                        </div>-->
                    </div><!--/grid-->
                </div>
            </div>
        </div>

        <div class="bg-secondary1">
            <div class="container">
                <div class="row">
                    <div class="grid_12 wow fadeInUp well_cont1" data-wow-delay="0.2s">
                        <div class="grid_1 mrg0">
                            <img src="{{ asset('images/page-2_ico-3.png') }}" alt="ico">
                        </div><!--/grid-->
                        <h3 class='left h-icon'>Notre mission</h3>
                        <p class='p2-sl-cont2 left'>Fusce lacinia nunc non rhoncus</p>
                        <div class="grid_4 mrg0">
                            <p class='left p2-c-block-h3'>Curabitur erat diam, dapibus eget efficitur vel, cumsan volutpat. Phasellus semper.</p>
                            <a class='left arr-cont' href="#">Curabitur ornare volutpat sollicitu </a>
                            <a class='left arr-cont' href="#">Nunc elementum quis dui </a>
                            <a class='left arr-cont' href="#">Vivamus id luctus ex, id tristique purus </a>
                            <a class='left arr-cont' href="#">Curabitur suscipit malesuada mollis </a>
                            <a class='left arr-cont' href="#">Morbi viverra maximus sodales </a>
                        </div><!--/grid-->

                        <div class="grid_4">
                            <p class='left p2-c-block-h3'>Donec ut augue interdum lacus vulputate dig
                                nissim. Pellentesque rutrum posuere.</p>
                            <a class='left arr-cont' href="#">Vivamus id luctus ex, id tristique purus </a>
                            <a class='left arr-cont' href="#">Curabitur suscipit malesuada mollis </a>
                            <a class='left arr-cont' href="#">Morbi viverra maximus sodales </a>
                            <a class='left arr-cont' href="#">Nulla luctus, ipsum eu consectetur </a>
                            <a class='left arr-cont' href="#">Enim mi rhoncus nisi, non dictum neque </a>
                        </div><!--/grid-->

                        <div class="grid_4">
                            <a class='left p2-c-block-h3'>Morbi et semper arcu. Etiam volutpat orci sol
                                licitudin magna posuere fringilla.</a>
                            <a class='left arr-cont' href="#">Curabitur suscipit malesuada mollis </a>
                            <a class='left arr-cont' href="#">Morbi viverra maximus sodales </a>
                            <a class='left arr-cont' href="#">Curabitur ornare volutpat sollicitu </a>
                            <a class='left arr-cont' href="#">Nunc elementum quis dui </a>
                            <a class='left arr-cont arr-bottom' href="#">Vivamus id luctus ex, id tristique purus </a>
                        </div><!--/grid-->
                    </div><!--/grid-->
                </div>
            </div>
        </div>

        <div class="bg-secondary2">
            <div class="container">
                <div class="row">
                    <div class="grid_12 wow fadeInUp well_cont1" data-wow-delay="0.2s">

                        <div class="grid_1 mrg0">
                            <img src="{{ asset('images/page-2_ico-4.png') }}" alt="ico">
                        </div><!--/grid-->
                        <h3 class='left h-icon'>Témoignages</h3>
                        <p class='p2-sl-cont3 left'>Quisque vitae scelerisque</p>
                        <div class="grid_6 mrg0">
                            <div class="cont-block2">
                                <div class="grid_1 mrg0">
                                    <img class="ico-txt" src="{{ asset('images/page-2_ico-txt.jpg') }}" alt="ico">
                                </div><!--/grid-->
                                <p class='left c-block-dis3'>Curabitur sit amet nisl nisi. Etiam cursus justo sit amet tortor cursus feugiat. Suspendisse placerat varius ex, id aliquam leo. Proin sit amet lectus a metus ornare finibus. Aliquam ullamcorper arcu consectetur odio ultrices, a gravida ante tristique. Nullam et ligula odio. Vivamus quis ex varius, rutrum nisl.</p>
                                <a href="#" class='left c-block-h2'>Alan Smith, USA</a>
                            </div>
                        </div><!--/grid-->

                        <div class="grid_6">
                            <div class="cont-block2">
                                <div class="grid_1 mrg0">
                                    <img class="ico-txt" src="{{ asset('images/page-2_ico-txt.jpg') }}" alt="ico">
                                </div><!--/grid-->
                                <p class='left c-block-dis3'>uisque vitae scelerisque arcu. Aenean vel aliquam mauris. Nullam risus elit, tristique vel volutpat vel, faucibus eget tellus. Donec mollis orci sit amet libero volutpat, ut rutrum nunc consequat. Maecenas placerat sollicitudin varius. Nam malesuada arcu vitae ipsum porta onstraverunt lectores legere.</p>
                                <a href="#" class='left c-block-h2'>Bradley Grosh, USA</a>
                            </div>
                        </div><!--/grid-->
                    </div><!--/grid-->
                </div>
            </div>
        </div>
{% endblock %}