{# src/SAGITERRE/CoreBundle/Resources/views/core/activities.html.twig #}

{% extends "SAGITERRECoreBundle::layout.html.twig" %}

{% block title %}
    Activités
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ asset('css/grid.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/contact-form.css') }}">
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-migrate-1.2.1.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/TMForm.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% if is_granted('ROLE_USER') %}
        <!--<link rel="stylesheet" href="{{ asset('bundles/admin/editor/css/documentation.css') }}">-->
        <script src="{{ asset('bundles/admin/editor/js/jquery.classyedit.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/admin/editor/css/jquery.classyedit.css') }}">
    {% endif %}


{% endblock %}


{% block body %}
    <div class="header-parall" data-stellar-background-ratio="0.8">
    </div>
    <div class="bg-secondary2">
        <div class="container">
            <div class="row">
                <div class="grid_12 wow fadeInUp well_cont3" data-wow-delay="0.2s">

                    <div class="grid_1 mrg0">
                        <img src="{{ asset('images/icons/logo.png') }}" alt="ico">
                    </div><!--/grid-->
                    <h3 class='left h-icon textToModify activities' data-id="{{ activities.id }}" data-part="activitiestitle">{{ activities.title }}</h3>
                    <p class='p2-sl-cont left textToModify activities' data-id="{{ activities.id }}" data-part="activitiessubtitle">{{ activities.subtitle }}</p>

                    {% if is_granted('ROLE_USER') %}
                        <div class="cont-block-p3">
                            <div class="grid_4 mrg0 hidd">
                                <img class="c-block-pic" src="{{ asset('bundles/Layout/images/blackAct.jpg') }}" alt="pic">
                                <p class='left p2-c-block-h2'>Nouvelle Actvivité</p>
                                <p class='left p2-c-block-cont'><a class="c-block-a" href="{{ path('sagiterre_activity_add') }}">Cliquez ici</a></p>


                            </div><!--/grid-->
                        </div>
                    {% endif %}

                {% for act in activity %}
                    <div class="cont-block-p3">
                        <div class="grid_4 mrg0 hidd">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('sagiterre_activity_deactivate', {'id': act.id}) }}"><i class="close fa fa-minus-circle"></i></a>
                            {% endif %}
                            <a href="{% if is_granted('ROLE_USER') %}{{ path('sagiterre_activity_modify', {'id': act.id}) }}{% else %}{{ path('sagiterre_activity_show', {'id': act.id}) }}{% endif %}"><img class="c-block-pic" src="{{ asset( act.imgPath) }}" alt="{{ act.imgAlt }}"></a>
                            <p class='left p2-c-block-h2'>{{ act.title }}</p>
                            <p class='left p2-c-block-cont'>{{ act.intro }}</p>
                        </div>
                    </div>

                    {% else %}
                        <h2>Il n'y pas d'activités pour le moment</h2>
                    {% endfor %}


                </div><!--/grid-->
            </div>
        </div>
    </div>

    <div class="bg-secondary1">
        <div class="container">
            <div class="row">
                <div class="grid_12 wow fadeInUp well-h3" data-wow-delay="0.2s">
                    <div class="grid_1 mrg0">
                        <img src="{{ asset('images/icons/logo.png') }}" alt="ico">
                    </div><!--/grid-->
                    <h3 class='left h-icon textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiestitle">{{ otheractivities.title }}</h3>
                    <p class='p2-sl-cont2 left padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiessubtitle">{{ otheractivities.subtitle }}</p>
                    <div class="grid_4 mrg0">
                        <p class='left p2-c-block-h3 padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiescolumnoneintro">{% autoescape %}{{ otheractivities.columnOneIntro|raw }}{% endautoescape %}</p>
                        <p class='left c-block-dis2 padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiescolumnonecontent">{% autoescape %}{{ otheractivities.columnOneContent|raw }}{% endautoescape %}</p></br>
                        <!--<a class="p2-c-block-a" href="#">More</a>-->
                    </div><!--/grid-->

                    <div class="grid_4">
                        <p class='left p2-c-block-h3 padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiescolumntwointro">{% autoescape %}{{ otheractivities.columnTwoIntro|raw }}{% endautoescape %}</p>
                        <p class='left c-block-dis2 padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiescolumntwocontent">{% autoescape %}{{ otheractivities.columnTwoContent|raw }}{% endautoescape %}</p></br>
                        <!--<a class="p2-c-block-a" href="#">More</a>-->
                    </div><!--/grid-->

                    <div class="grid_4">
                        <p class='left p2-c-block-h3 padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiescolumnthreeintro">{% autoescape %}{{ otheractivities.columnThreeIntro|raw }}{% endautoescape %}</p>
                        <p class='left c-block-dis2 padd-right textToModify otheractivities' data-id="{{ otheractivities.id }}" data-part="otheractivitiescolumnthreeintro">{% autoescape %}{{ otheractivities.columnThreeContent|raw }}{% endautoescape %}</p></br>
                        <!--<a class="p2-c-block-a" href="#">More</a>-->
                    </div><!--/grid-->
                </div><!--/grid-->
            </div>
        </div>
    </div>

{% endblock %}