{# src/SAGITERRE/CoreBundle/Resources/views/core/index.html.twig #}

{% extends "SAGITERRECoreBundle::layout.html.twig" %}

{% block title %}
    Acceuil
{% endblock %}


{% block head %}

    <link rel="stylesheet" href="{{ asset('css/grid.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/contact-form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/camera.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.css') }}"/>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-migrate-1.2.1.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/TMForm.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% if is_granted('ROLE_USER') %}
        <!--<link rel="stylesheet" href="{{ asset('bundles/admin/editor/css/documentation.css') }}">-->
        <script src="{{ asset('bundles/admin/editor/js/jquery.classyedit.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundles/admin/editor/css/jquery.classyedit.css') }}">
    {% endif %}

    <style>
        i {  font-style: italic;  }
        b {  font-weight: bold;  }
    </style>


{% endblock %}


{% block body %}
    {% if is_granted('ROLE_USER') %}
        <div id="modalHorse" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="closeHorse">&times;</span>
            <p>{{ form(formHorse) }}</p>

            </div>
        </div>
    {% endif %}

        <div class="camera_container">
            <div id="camera" class="camera_wrap">
                {% for slideImage in slideImages%}
                    <div data-src="{{ asset(slideImage.path) }}" alt="{{ slideImage.alt }}">
                    </div>
                {% else %}
                    <h2>Il n'y pas d'images</h2>
                {% endfor %}
            </div>
        </div>

        <!-- stellar layout -->
        <div class="bg-secondary1 bg-pl">
            <div class="container cont-1">
                <div class="row">
                    <div class="grid_12 wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class='well center h-cont textToModify welcome' data-id="{{ WelcomeMessage.id }}" data-part="welcometitle">{{ WelcomeMessage.title }}</h2>
                        <p class='center sl-cont textToModify welcome' data-id="{{ WelcomeMessage.id }}" data-part="welcomesubtitle">{{ WelcomeMessage.subtitle }}</p>
                    </div><!--/grid-->
                    <div class="grid_4 wow fadeInLeft" data-wow-delay="0.4s">
                        <!--<div class="grid_1 box-cont1  mrg0">
                            <img src="images/page-1_img01d.jpg" alt="pic">
                        </div>--><!--/grid-->

                        <div class="grid_3">
                            <p class='icon-box-cont textToModify welcome' data-id="{{ WelcomeMessage.id }}" data-part="welcomecolumnone">{% autoescape %}{{ WelcomeMessage.columnOne|raw }}{% endautoescape %}</p>
                        </div><!--/grid-->
                    </div><!--/grid-->
                    <div class="grid_4 wow fadeInUp" data-wow-delay="0.4s">
                        <!--<div class="grid_1 box-cont1 mrg0">
                            <img src="images/page-1_img02d.jpg" alt="pic">
                        </div>-->
                        <!--/grid-->
                        <div class="grid_3">
                            <p class='icon-box-cont textToModify welcome' data-id="{{ WelcomeMessage.id }}" data-part="welcomecolumntwo">{% autoescape %}{{ WelcomeMessage.columnTwo|raw }}{% endautoescape %}
                            </p>
                        </div><!--/grid-->
                    </div><!--/grid-->
                    <div class="grid_4 wow fadeInRight" data-wow-delay="0.4s">
                        <!--<div class="grid_1 box-cont1 mrg0">
                            <img src="images/page-1_img03d.jpg" alt="pic">
                        </div>-->
                        <!--/grid-->
                        <div class="grid_3">
                            <p class='icon-box-cont textToModify welcome' data-id="{{ WelcomeMessage.id }}" data-part="welcomecolumnthree">{% autoescape %}{{ WelcomeMessage.columnThree|raw }}{% endautoescape %}</p>
                        </div><!--/grid-->
                    </div><!--/grid-->
                </div>
            </div>
        </div>


        <!-- end stellar layout -->

        <!-- Owl Carousel -->
        <div class="bg-secondary2">
            <div class="container">
                <div class="row">
                    <div class="wow well_cont1 fadeInUp" data-wow-delay="0.2s">
                        <div class="grid_1">
                            <img src="{{ asset('images/icons/logo.png') }}" alt="ico">
                        </div><!--/grid-->
                        <h3 class='left h-icon textToModify sectiontwo' data-id="{{ sectionTwo.id }}" data-part="sectiontwotitle">{{ sectionTwo.title }}</h3>
                        <p class='sl-cont2 left textToModify sectiontwo' data-id="{{ sectionTwo.id }}" data-part="sectiontwosubtitle">{{ sectionTwo.subtitle }}</p>
                    </div><!--/grid-->
                    <div class="owl-wrap">
                        <div id="owl1">
                            {% if is_granted('ROLE_USER') %}
                                <div class="image-block">
                                    <div class="owl-block" id="formHorseLaunch">
                                        <a class="dec0" href="#" ><img class="gall1_pic gall_black" alt="gallery" src="{{ asset('bundles/Layout/images/black.jpg') }}"><span class='gall-cont gall-up'><i class="fa fa-plus-circle" style="font-size:50px;"></i></span></a>
                                    </div>
                                </div>
                            {% endif %}

                            {% for sectionTwoImage in sectionTwoList %}
                                <div class="image-block">
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('sagiterre_layout_deactivate_horse', {'id': sectionTwoImage.id }) }}"><i class="close fa fa-minus-circle"></i></a>
                                {% endif %}
                                    <div class="owl-block">
                                        <a class="dec0" href="#"><img class="gall1_pic" alt="gallery" src="{{ asset(sectionTwoImage.path) }}"><span class='gall-cont gall-slogan'>{{ sectionTwoImage.name }}</span></a>
                                    </div>
                                </div>

                            {% else %}
                                <h2>Il n'y pas d'images</h2>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end Owl Carousel -->



    {% if is_granted('ROLE_USER') %}

                            {% set myVal = 0 %}
                            {% for newsP in news %}
                            {% if myVal == 0 %}
                                <div class="bg-secondary2">
                                <div class="container">
                                <div class="row">
                                <div class="grid_12 wow fadeInUp well_cont1" data-wow-delay="0.2s">
                                <div class="grid_6 mrg0">
                                    <div class="grid_1 mrg0">
                                        <img src="{{ asset('images/icons/logo.png') }}" alt="ico">
                                    </div>
                                    <h3 class='left h-icon textToModify sectionfour' data-id="{{ sectionFour.id }}" data-part="sectionfourtitle">{{ sectionFour.title }}</h3>
                                    <p class='sl-cont2 left textToModify' data-id="{{ sectionFour.id }}" data-part="sectionfoursubtitle">{{ sectionFour.subtitle }}</p>
                            <div class="cont-block1">
                                <div class="grid_2 mrg0 hidd">
                                    <div class="pic-hov"></div>
                                    <img class="c-block-pic" src="{{ asset( newsP.imgPath) }}" alt="{{ newsP.imgPath }}">
                                </div><!--/grid-->
                                <p class='left c-block-h'>{{ newsP.title }}</p>
                                <p class='c-block-date'>{{ newsP.dateAdd|date("d") }}<br>
                                    {{ newsP.dateAdd|date("m") }}</p>
                                <p class='left c-block-dis'>{{ newsP.intro }}</p>
                                <a class="c-block-a" href="{% if is_granted('ROLE_USER') %}{{ path('sagiterre_core_news_modify', {'id': newsP.id}) }}{% else %}{{ path('sagiterre_core_news_view', {'id': newsP.id}) }}{% endif %}">{% if is_granted('ROLE_USER') %}Modifier{% else %}More{% endif %}</a>
                            </div>
                        </div>
                        {% elseif myVal is even %}
                            <div class="grid_6 mrg0">
                                <div class="cont-block1">
                                    <div class="grid_2 mrg0 hidd">
                                        <div class="pic-hov"></div>
                                        <img class="c-block-pic" src="{{ asset( newsP.imgPath) }}" alt="{{ newsP.imgPath }}">
                                    </div>
                                    <p class='left c-block-h'>{{ newsP.title }}</p>
                                    <p class='c-block-date'>{{ newsP.dateAdd|date("d") }}<br>
                                        {{ newsP.dateAdd|date("m") }}</p>
                                    <p class='left c-block-dis'>{{ newsP.intro }}</p>
                                    <a class="c-block-a" href="{% if is_granted('ROLE_USER') %}{{ path('sagiterre_core_news_modify', {'id': newsP.id}) }}{% else %}{{ path('sagiterre_core_news_view', {'id': newsP.id}) }}{% endif %}">{% if is_granted('ROLE_USER') %}Modifier{% else %}More{% endif %}</a>
                                </div>
                            </div>
                        {% elseif myVal > 2 %}
                            <div class="grid_6">
                                <div class="cont-block1">
                                    <div class="grid_2 mrg0 hidd">
                                        <div class="pic-hov"></div>
                                        <img class="c-block-pic" src="{{ asset( newsP.imgPath) }}" alt="{{ newsP.imgPath }}">
                                    </div>
                                    <p class='left c-block-h'>{{ newsP.title }}</p>
                                    <p class='c-block-date'>{{ newsP.dateAdd|date("d") }}<br>
                                        {{ newsP.dateAdd|date("m") }}</p>
                                    <p class='left c-block-dis'>{{ newsP.intro }}</p>
                                    <a class="c-block-a" href="{% if is_granted('ROLE_USER') %}{{ path('sagiterre_core_news_modify', {'id': newsP.id}) }}{% else %}{{ path('sagiterre_core_news_view', {'id': newsP.id}) }}{% endif %}">{% if is_granted('ROLE_USER') %}Modifier{% else %}More{% endif %}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="grid_6">
                                <div class="cont-block1 cont-bl2">
                                    <div class="grid_2 mrg0 hidd">
                                        <div class="pic-hov"></div>
                                        <img class="c-block-pic" src="{{ asset( newsP.imgPath) }}" alt="{{ newsP.imgPath }}">
                                    </div>
                                    <p class='left c-block-h'>{{ newsP.title }}</p>
                                    <p class='c-block-date'>{{ newsP.dateAdd|date("d") }}<br>
                                        {{ newsP.dateAdd|date("m") }}</p>
                                    <p class='left c-block-dis'>{{ newsP.intro }}</p>
                                    <a class="c-block-a" href="{% if is_granted('ROLE_USER') %}{{ path('sagiterre_core_news_modify', {'id': newsP.id}) }}{% else %}{{ path('sagiterre_core_news_view', {'id': newsP.id}) }}{% endif %}">{% if is_granted('ROLE_USER') %}Modifier{% else %}More{% endif %}</a>
                                </div>
                            </div>
                        {% endif %}
                        {% set myVal = myVal + 1 %}
                        {% else %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>{% endif %}

        <!-- Owl Carousel -->
        <div class="bg-secondary1">
            <div class="container">
                <div class="row">
                    <div class="wow well_cont1 fadeInUp" data-wow-delay="0.2s">
                        <div class="grid_1" >
                            <img src="{{ asset('images/page-1_ico-6.png') }}" alt="ico">
                        </div><!--/grid-->
                        <h3 class="left h-icon textToModify sectionfive" data-id="{{ sectionFive.id }}" data-part="sectionfivetitle">{{ sectionFive.title }}</h3>
                        <p class="sl-cont2 left textToModify sectionfive" data-id="{{ sectionFive.id }}" data-part="sectionfivesubtitle">{{ sectionFive.subtitle }}</p>
                    </div><!--/grid-->
                    <div class="owl-wrap">
                        <div id="owl2" class="owl-carousel2">

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 1.png') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 1.png') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 2.png') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 2.png') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 3.png') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 3.png') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 4.png') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 4.png') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 5.png') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 5.png') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 6.png') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 6.png') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>

                            <a class="owl-block thumb" href="{{ asset('images/Gallerie/Untitled 7.jpg') }}">
                                <img class="gall2_pic" src="{{ asset('images/Gallerie/Untitled 7.jpg') }}" alt="gallery"/>
                                <span class="thumb_overlay"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function() {

        });
    </script>
    <!-- end Owl Carousel -->
{% endblock %}